@using DataStructure;
@model Tuple<News, List<Comments>>
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item1.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Photo)
        </dt>

        <dd>
            <img src="~/Photo/@Html.DisplayFor(model => model.Item1.Photo)" alt="Alternate Text" height="400" width="400" />
        </dd>

        <dt>
            Comments
        </dt>

        <dd>
            @foreach (Comments comment in Model.Item2)
            {
            <dd>
                <p>@comment.User.Username</p>
            </dd>
            <dd>
                <p>@comment.Content</p>
            </dd>
        }

        </dl>
    </div>


    @using (Html.BeginForm("Create", "Comment", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Comments</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-10">
                    @Html.LabelFor(model => new Comments { }.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => new Comments { }.Content, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => new Comments { }.Content, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <p>
        @Html.ActionLink("Update", "Update", new { id = Model.Item1.ID }) |
        @Html.ActionLink("Back to List", "Read")
    </p>
