@model Tuple<DataStructure.News, List<DataStructure.Comments>>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item1.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item1.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item1.Photo)
        </dt>

        <dd>
            <img src="~/Photo/@Html.DisplayFor(model => model.Item1.Photo)" alt="Alternate Text" height="400" width="400" />
        </dd>

        <dt>
            Comments
        </dt>

        <dd>
            @foreach (DataStructure.Comments comment in Model.Item2)
            {
            <dd>
                <p>@comment.User.Username</p>
            </dd>
            <dd>
                <p>@comment.Content</p>
            </dd>
            }

        </dl>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <p>
        @Html.ActionLink("Update", "Update", new { id = Model.Item1.ID }) |
        @Html.ActionLink("Back to List", "Read")
    </p>
