@model IEnumerable<DataStructure.News>
@using Sports_News_Website.DTOs

@{
    ViewBag.Title = "Read";
}

<h2>News</h2>

<p>
    @if (SessionDTO.IsAdmin == true)
    {
        @Html.ActionLink("Create New", "Create", null, new { style = "color:white" })
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @if (item.Photo == null)
                {
                    <img src="~/Photo/no-image-icon.png" alt="No photo available." height="40" width="40" />
                }
                else if (item.Photo != null)
                {
                    <img src="~/Photo/@item.Photo" height="40" width="40" />
                }
            </td>
            <td>
                News made by : @Html.DisplayFor(modelItem => item.User.Username)
            </td>
            <td>
            <td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { style = "color:white"}) |
                @if (SessionDTO.IsAdmin == true)
                {
                <td>@Html.ActionLink("Update", "Update", new { id = item.ID }, new { style = "color:white" }) |</td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { style = "color:white" }) |</td>
            }
                <td>
                </td>
            </tr>
        }

</table>
